{% extends "base.html" %}

{% block head %}
	<script type="text/javascript" src="/static/bootstrap-modal.js"></script>
	<script type="text/javascript">$( document ).ready( function() {
		$( '#feedback' ).modal( {
			keyboard: true,
			backdrop: true
		} );
		$( '#email' ).keypress( function( e ) { if ( e.which == 13 ) return false; } );
		$( '#getkey' ).click( function () {
			$.post( '/api/v1/sendkey', { email: $( '#email' ).val() }, function() {
				$( '#feedback' ).modal( 'show' );
			} ).error( function() { alert( "Something went wrong, please verify the address you entered and try again." ); } );
		} );
	} );</script>
	<style type="text/css">
		body {	padding-top: 60px; }
		section { padding-top: 60px; }
		section > .row { margin-bottom: 10px; }
		footer { margin-top: 60px;}
		h2 {margin-bottom: 10px;}
	</style>
{% endblock %}

{% block body %}
<div class="container">


	<div class="hero-unit">
		<h1>Bookmarks</h1>
		<div class='row'><div class='offset2 span12'><form action="#" method="POST">
			<fieldset>
				<input type="email" class="span8 xlarge" id="email" placeholder='Enter your email here'>
				<button class="btn large primary" id="getkey" type="button">Get the API key!</button>
			</fieldset>
		</form></div></div>
	</div>

	<div id="feedback" class="modal hide fade">
		<div class="modal-header">
			<a href="#" class="close">&times;</a>
			<h3>API key sent!</h3>
		</div>
		<div class="modal-body">
			<p>Please check your email (and possibly spam folder) to grab your key.</p>
		</div>
	</div>
</div>
{% endblock %}
